.auth{
  background-color: #202020;
  color: #FFFFFF;
}

.auth__logo {
  margin-top: 56px;
}

.auth__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 81.25%;
  /* max-width: 358px; */
  margin: auto;
}

.auth__form-element{
  width: 100%;
}

/* .auth__submit{
  width: 100%;
  min-height: 46px;
  background-color: #4285F4;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 121%;
  text-align: center;
  border-radius: 3px;
  border: none;
  padding: 0;
  margin: 290px auto 14px;
  cursor: pointer;
} */

.popup__submit:hover{
  opacity: 0.8;
}

.auth__title{
  color: #FFFFFF;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 121%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .auth__logo {
    margin-top: 232px;
  }

  .auth__container{
    justify-content: start;
    align-items: start;
    width: 51.56%;
    /* max-width: 396px; */
  }

  .auth__title{
    margin-top: 43px;
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 1280px){
  .auth__container{
    width: 30.94%;
  }

  .auth__logo {
    margin-top: 70px;
  }

  .auth__title{
    margin-top: 40px;
    margin-bottom: 40px;
  }
}