.popup{
  width: 100%;
  max-width: 520px;
  max-height: 100%;
  background-color: #202020;
  font-family: "inter", Arial, sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.25s, opacity 0.25s linear;
  z-index: 1000;
}

.popup_opened{
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.popup__close {
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 0;
  padding: 0;
  position: absolute;
  top: 13px;
  right: 23px;
  z-index: 40;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.8;
}

.popup__menu {
  margin: 145px auto 0;
}

.popup__menu_all {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 0;
}

.popup-menu-list {
  list-style: none;
}

.popup-menu-list__item {
  color: #FFFFFF;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 121%;
  padding-bottom: 24px;
  cursor: pointer;
}

.popup-menu-list:hover {
  opacity: 0.8;
}

.popup-menu-list:nth-child(3) {
  padding-bottom: 427px;
  text-decoration: none;
  font-size: 14px;
  line-height: 114.28%;
}

.popup-menu-list__item_acount::after {
  content: url('../../images/acount.svg');
  text-decoration: none;
  font-size: 14px;
  line-height: 114.28%;
}

.popup-menu-list__item_acount::after:hover {
  opacity: 0.8;
}

.popup-menu-list.active {
  padding-top: 5px;
  text-decoration: underline;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .popup__close {
    top: 20px;
    right: 30px;
  }

  .popup__menu {
    margin: 163px auto 0;
  }

  .popup-menu-list:nth-child(3) {
    padding-bottom: 610px;
  }
}