.footer {
  width: 93.75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__title {
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 121%;
  color: #8B8B8B;
}

.footer__separator {
  height: 1px;
  background-color: #424242;
}

.footer__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0;
}

.footer__link {
  list-style: none;
}

.footer__link-item {
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 121%;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}

.footer__link-item:hover {
  opacity: 0.8;
}

.footer__icon {
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 121%;
  color: #8B8B8B;
}

@media screen and (min-width: 768px) {
  .footer {
    width: 87%;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: auto auto auto;
  }

  .footer__title {
    grid-column: 1 / span 3;
    text-align: center;
  }

  .footer__separator {
    grid-column: 1 / span 3;
  }

  .footer__icon {
    grid-column: 1;
    grid-row: 3;
    text-align: left;
    font-size: 13px;
  }

  .footer__links {
    grid-column: 2;
    grid-row: 3;
    text-align: right;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    width: 89%;
  }
}
